<h1>User List:</h1>
<div id="links">
  <%= link_to "new User", new_user_path %><br/>
  <%= link_to "delete Users", delete_users_path, :action => :delete_users %><br/>
  <%= link_to "create Message", new_message_path %><br/>
  <%= link_to "list Messages", messages_path %>
</div>

<% @users.each do |u| %>
  <div class="item">
    <div class="image"><%= image_tag(Image.get_gravatar u.e_mail)%></div>
    <%= link_to u.first_name, user_path(:id => u.uid) %>
    <%= u.last_name %>
    <%= link_to "delete", user_path(u.id), :method => :delete %><br/>

    <%= form_tag(follow_path) do %>
      <%= hidden_field_tag :uid, u.uid %>
      <%= text_field_tag 'follow', :follow %>
      <%= submit_tag 'follow' %>
    <%end%>
  </div>
<%end%>
