<h1>Create new User MongoDB:</h1>

<%= form_tag('/users') do %>
  <%= text_field_tag 'first_name', :first_name %><br/>
  <%= text_field_tag 'last_name', :last_name %><br/>
  <%= text_field_tag 'e_mail', :e_mail %><br/>
  <%= submit_tag 'submit' %>
<%end%>
